<details>
  <summary>
    {{ settings.block_title }}

    <svg width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M12.3955 6.61816C12.3955 6.75077 12.3428 6.87795 12.2491 6.97172C12.1553 7.06549 12.0281 7.11816 11.8955 7.11816H6.89551V12.1182C6.89551 12.2508 6.84283 12.3779 6.74906 12.4717C6.65529 12.5655 6.52812 12.6182 6.39551 12.6182C6.2629 12.6182 6.13572 12.5655 6.04195 12.4717C5.94819 12.3779 5.89551 12.2508 5.89551 12.1182V7.11816H0.895508C0.7629 7.11816 0.635723 7.06549 0.541955 6.97172C0.448186 6.87795 0.395508 6.75077 0.395508 6.61816C0.395508 6.48556 0.448186 6.35838 0.541955 6.26461C0.635723 6.17084 0.7629 6.11816 0.895508 6.11816H5.89551V1.11816C5.89551 0.985556 5.94819 0.858379 6.04195 0.764611C6.13572 0.670843 6.2629 0.618164 6.39551 0.618164C6.52812 0.618164 6.65529 0.670843 6.74906 0.764611C6.84283 0.858379 6.89551 0.985556 6.89551 1.11816V6.11816H11.8955C12.0281 6.11816 12.1553 6.17084 12.2491 6.26461C12.3428 6.35838 12.3955 6.48556 12.3955 6.61816Z" fill="black"/>
    </svg>
  </summary>
  <div class="content">
    {{ settings.block_content }}
  </div>
</details>
