<whatnot-upcoming-event
  class="whatnot-events-wrapper"
>
  <a href="#" class="whatnot-video whatnot-video-href" target="_blank">
    {% comment %} <div class="whatnot-up-coming-event">
      <h4 class="whatnot__sub-heading"></h4>
      <div class="whatnot__date-time__wrapper">
        <span class="whatnot__date-time"> </span>
      </div>
    </div> {% endcomment %}
    {{ video | video_tag: autoplay: true, loop: true, muted: true, playsinline: true }}

    {% comment %} <h4 class="whatnot__heading"></h4> {% endcomment %}
  </a>
</whatnot-upcoming-event>
