{% liquid
  assign newsletter_block = section.blocks | where: 'type', 'newsletter' | first
  assign blocks = section.blocks | where: 'type', 'blog'

  assign article_published_at_array = ''
  assign article_handles = ''
  for block in blocks
    assign articles = block.settings.blog.articles
    assign article_handles = article_handles | append: block.settings.blog.handle | append: '|'

    for article in articles
      assign article_published_at_array = article_published_at_array | append: article.published_at | append: ',' | append: article.handle | append: '|' 
    endfor
  endfor
  assign article_published_at_array = article_published_at_array | split: '|'
  assign article_published_at_array = article_published_at_array | sort | reverse
  assign article_handles = article_handles | split: '|'
%}

<section>
  {% render 'blog--sneaker-post-gallery',
    heading: section.settings.heading,
    articles: article_published_at_array
    highlight_first_article: section.settings.highlight_first_article,
    total_articles_displayed: section.settings.total_articles_displayed,
    total_articles_view_more: section.settings.tatal_articles_view_more,
    newsletter_block: newsletter_block
  %}
</section>

{% schema %}
{
  "name": "Blog Sneaker Post Gallery",
  "settings": [
    {
      "type": "textarea",
      "id": "heading",
      "label": "Heading"
    },
    {
      "type": "checkbox",
      "id": "highlight_first_article",
      "label": "Highlight the first article"
    },
    {
      "type": "range",
      "id": "total_articles_displayed",
      "label": "Total Articles Displayed",
      "default": 3,
      "min": 0,
      "max": 10,
      "step": 1,
      "unit": "art"
    },
    {
      "type": "range",
      "id": "tatal_articles_view_more",
      "label": "Total Articles Click View More",
      "default": 3,
      "min": 0,
      "max": 10,
      "step": 1,
      "unit": "art"
    }
  ],
  "blocks": [
    {
      "type": "blog",
      "name": "Blog",
      "settings": [
        {
          "type": "blog",
          "id": "blog",
          "label": "Select Blog"
        }
      ]
    },
    {
      "type": "newsletter",
      "name": "Newsletter",
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "label": "Heading",
          "default": "Subscribe to our newsletter"
        },
        {
          "type": "text",
          "id": "subheading",
          "label": "Subheading",
          "default": "Get the latest updates on new products and upcoming sales"
        },
        {
          "type": "text",
          "id": "button_text",
          "label": "Button Text",
          "default": "Subscribe"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        }
      ],
      "limit": 1
    }
  ],
  "presets": [
    {
      "name": "Blog Sneaker Post Gallery",
      "category": "Blog"
    }
  ]
}
{% endschema %}
