{{ 'footer-main.css' | asset_url | stylesheet_tag }}

<footer id="footer-section">
  <div class="footer-section-container">
    <div class="footer-section-wrapper">
      <div class="footer-section social-media-wrapper">
        <h3>Follow us on</h3>
        <ul>
          <li><a href="/pages/contact-us">Facebook</a></li>
          <li><a href="/pages/returns">X</a></li>
          <li><a href="/pages/shipping">Instagram</a></li>
          <li><a href="/pages/privacy-policy">YouTube</a></li>
          <li><a href="/pages/terms-of-service">Tiktok</a></li>
        </ul>
      </div>
      <div class="footer-section newsletter-wrapper ">
        <h3>Subscribe to Our Newsletter</h3>
        <div class="submit-newsletter-wrapper">
          <input class="w-full submit-newsletter" placeholder="Your Email">
          <span class="submit-btn">Subscribe</span>
        </div>
      </div>
      <div class="footer-section policy-wrapper">
        <h3>Navigation</h3>
        <ul>
          <li><a href="https://www.facebook.com/" target="_blank">Blogs</a></li>
          <li><a href="https://www.instagram.com/" target="_blank">Size guide</a></li>
          <li><a href="https://www.twitter.com/" target="_blank">Refund policy</a></li>
          <li><a href="https://www.pinterest.com/" target="_blank">Privacy policy</a></li>
          <li><a href="https://www.youtube.com/" target="_blank">Terms of service</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="image-with-text">
    <div
      class="image-background"
      style="background-image: url('{{ section.settings.footer_background_text_image | image_url: width: 1393  }}');"
    >
      <h2>
        {{ section.settings.footer_background_text }}
      </h2>
    </div>
  </div>
</footer>

{% schema %}
{
  "name": "Footer Main",
  "settings": [
    {
      "type": "image_picker",
      "id": "footer_background_text_image",
      "label": "Footer Background Text Image"
    },
    {
      "type": "text",
      "id": "footer_background_text",
      "label": "Footer Background Text",
      "default": "Upper empire"
    }
  ]
}
{% endschema %}
