{{ 'instagram-grid.css' | asset_url | stylesheet_tag }}

<section id="instagram-grid">
  <div class="instagram-grid-container">
    <div class="instagram-grid-wrapper">
      <div class="instagram-grid-title">
        <h2>{{ section.settings.section_title }}</h2>
      </div>
      <div class="instagram-grid-layout">
        {% for block in section.blocks %}
          <a href="{{ block.settings.image.url }}" class="instagram-grid-item">
            <div class="instagram-image">
              {% render 'responsive-image' with block.settings.image %}
            </div>
          </a>
        {% endfor %}
      </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Instagram Grid",
  "settings": [
    {
      "type": "text",
      "id": "section_title",
      "label": "Section Title",
      "default": "@Follow us on instagram"
    }
  ],
  "blocks": [
    {
      "type": "image_picker",
      "name": "Image",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        }
      ],
      "limit": 8
    }
  ]
}
{% endschema %}
