<link rel="preload" href="{{ 'section-newsletter.min.css' | asset_url }}" as="style" onload="this.onload=null;this.rel='stylesheet'"/>
<noscript>{{ 'section-newsletter.min.css' | asset_url | stylesheet_tag }}</noscript>

<div
    class="homepage-sections-wrapper homepage-sections-wrapper--{{ section.settings.colors }} newsletter--section"
    data-wetheme-section-type="newsletter--newsletter"
    data-wetheme-section-id="{{ section.id }}"
>
  {% render 'newsletter-form', form_id: 'newsletter_section_form' %}
</div>

{% schema %}
{
	"name": "t:sections.newsletter--newsletter.name",
	"class": "homepage-section--newsletter-wrapper",
	"settings": [
		{
			"type": "select",
			"id": "colors",
			"label": "t:all.Color_scheme",
			"default": "white",
			"options": [
				{
					"value": "white",
					"label": "t:all.Minimal"
				},
				{
					"value": "light",
					"label": "t:all.Light"
				},
				{
					"value": "accent",
					"label": "t:all.Feature"
				},
				{
					"value": "dark",
					"label": "t:all.Dark"
				}
			]
		},
		{
			"id": "newsletter_heading",
			"type": "text",
			"label": "t:all.Heading",
			"default": "Join our Mailing List"
		},
		{
			"type": "richtext",
			"id": "newsletter_description",
			"label": "t:all.Description"
		}
	],
	"presets": [
		{
			"name": "t:all.Newsletter"
		}
	],
	"disabled_on": {
		"groups": [
			"header"
		]
	}
}
{% endschema %}
