
{% comment %} Extract 'blocks' string from querystring  {% endcomment %}

{%- capture content -%}{{ content_for_header }}{%- endcapture -%}

{%- assign page_url = content | split: '"pageurl":"' | last | split: '"' | first | split: '.myshopify.com' | last | replace: '\/','/' | replace: '%20',' ' | replace: '\u0026','&' | replace: '%2C',',' -%}

{%- assign blocks = page_url | split: '?' | last | replace: 'view=recently-used-grid&blocks=', '' | split: '&oseid=' | first -%}

<div class="grid__item">
  {% render 'grid-view-item', product: product, collection: collection, blocks: blocks, enable_badges: settings.show_badges, grid_count_desktop: 4, grid_count_mobile: 2 %}
</div>

{% schema %}
{
	"name": "t:sections.template--product-recently-used-grid.name",
	"settings": [],
	"blocks": []
}
{% endschema %}