{%- liquid
  assign filtering_enabled = true
  if section.settings.enable_filtering == false and section.settings.enable_sorting == false
    assign filtering_enabled = false
  endif

  assign header_enabled = true
  if section.settings.enable_collection_title == false and section.settings.enable_collection_description == false
    assign header_enabled = false
  endif
-%}

{{ 'template--collection.css' | asset_url | stylesheet_tag }}

<section class="shopify-section main-page-container wrapper-padded">
  <div class="collection_grid{% if filtering_enabled %} filtering_enabled--{{ section.settings.desktop_position }}{% endif %}">
    <div class="collection-header__title">
      <h1 class="page-title">
        {{ collection.title }}
      </h1>
      {% unless filtering_enabled == false and header_enabled == false %}
        {%
        render 'main-collection-filtering-sorting' with
          collection: collection,
          classes: "grid-area--filtering",
          desktop_position: section.settings.desktop_position,
          enable_collection_title: section.settings.enable_collection_title,
          enable_collection_description: section.settings.enable_collection_description,
          enable_filtering: section.settings.enable_filtering,
          enable_sorting: section.settings.enable_sorting
        %}
      {% endunless %}
    </div>

    {%
      render 'main-collection-grid' with
      classes: "grid-area--collection",
      blocks: section.blocks,
      desktop_products_per_row: section.settings.desktop-products-per-row,
      mobile_products_per_row: section.settings.mobile-products-per-row,
      products_per_page: section.settings.products-per-page,
      pagination_options: section.settings.pagination_options
    %}
  </div>
</section>

{% schema %}
{
  "name": "t:sections.template--collection.name",
  "settings": [
    {
      "type": "header",
      "content": "t:all.Grid_layout"
    },
    {
      "type": "range",
      "id": "products-per-page",
      "min": 3,
      "max": 20,
      "step": 1,
      "label": "t:all.Rows_per_page_on_desktop",
      "default": 7
    },
    {
      "type": "range",
      "id": "desktop-products-per-row",
      "min": 2,
      "max": 5,
      "step": 1,
      "label": "t:all.Product_per_row_on_desktop",
      "default": 4
    },
    {
      "type": "select",
      "id": "mobile-products-per-row",
      "label": "t:all.Product_per_row_on_mobile",
      "options": [
        {
          "value": "1",
          "label": "t:all.1"
        },
        {
          "value": "2",
          "label": "t:all.2"
        }
      ],
      "default": "2"
    },
    {
      "type": "select",
      "id": "pagination_options",
      "label": "t:sections.template--collection.settings.pagination_options.label",
      "options": [
        {
          "value": "pagination_default",
          "label": "t:sections.template--collection.settings.pagination_options.options.pagination_default"
        },
        {
          "value": "pagination_infinite_scrolling",
          "label": "t:sections.template--collection.settings.pagination_options.options.pagination_infinite_scrolling"
        },
        {
          "value": "pagination_load_more",
          "label": "t:sections.template--collection.settings.pagination_options.options.pagination_load_more"
        }
      ],
      "default": "pagination_default"
    },
    {
      "type": "header",
      "content": "t:sections.template--collection.settings.header-5.content"
    },
    {
      "type": "select",
      "id": "desktop_position",
      "options": [
        {
          "value": "topbar",
          "label": "t:all.Top_bar"
        },
        {
          "value": "sidebar",
          "label": "t:all.Sidebar"
        }
      ],
      "default": "topbar",
      "label": "t:all.Desktop_position"
    },
    {
      "type": "checkbox",
      "id": "enable_collection_title",
      "default": true,
      "label": "t:sections.template--collection.settings.enable_collection_title.label"
    },
    {
      "type": "checkbox",
      "id": "enable_collection_description",
      "default": true,
      "label": "t:sections.template--collection.settings.enable_collection_description.label"
    },
    {
      "type": "checkbox",
      "id": "enable_filtering",
      "default": true,
      "label": "t:all.Enable_filtering",
      "info": "t:all.Customize_filters_admin_menus"
    },
    {
      "type": "checkbox",
      "id": "enable_sorting",
      "default": true,
      "label": "t:all.Enable_sorting"
    }
  ],
  "blocks": [
    {
      "type": "product_card_image",
      "name": "t:all.Product_image",
      "limit": 1,
      "settings": [
        {
          "type": "paragraph",
          "content": "t:all.To_change_your_product_image_size_go_to_Theme_settings__Product_card__Grid_image_size"
        },
        {
          "type": "header",
          "content": "t:all.Quick_shop_button"
        },
        {
          "type": "checkbox",
          "id": "enable_quick_shop",
          "label": "t:all.Enable",
          "default": false
        },
        {
          "type": "checkbox",
          "id": "disable_quick_shop_mobile",
          "label": "t:all.Disable_on_mobile",
          "default": true
        },
        {
          "type": "paragraph",
          "content": "t:all.Quick_shop_button_will_show_as_icon_on_smaller_screens"
        }
      ]
    },
    {
      "type": "product_card_title",
      "name": "t:all.Title",
      "limit": 1,
      "settings": [
        {
          "type": "radio",
          "id": "product_card_title__font",
          "label": "t:all.Font",
          "options": [
            {
              "value": "heading",
              "label": "t:all.Heading"
            },
            {
              "value": "body",
              "label": "t:all.Body"
            }
          ],
          "default": "body"
        }
      ]
    },
    {
      "type": "product_card_price",
      "name": "t:all.Price",
      "limit": 1,
      "settings": [
        {
          "type": "radio",
          "id": "product_card_price__font",
          "label": "t:all.Font",
          "options": [
            {
              "value": "heading",
              "label": "t:all.Heading"
            },
            {
              "value": "body",
              "label": "t:all.Body"
            }
          ],
          "default": "body"
        }
      ]
    },
    {
      "type": "product_card_vendor",
      "name": "t:all.Product_vendor",
      "limit": 1,
      "settings": [
        {
          "type": "paragraph",
          "content": "t:all.This_is_used_to_set_the_order_and_placement_of_the_product_vendor_within_the_product_cards_in_your_collection_product_list_"
        },
        {
          "type": "radio",
          "id": "product_card_vendor__font",
          "label": "t:all.Font",
          "options": [
            {
              "value": "heading",
              "label": "t:all.Heading"
            },
            {
              "value": "body",
              "label": "t:all.Body"
            }
          ],
          "default": "body"
        }
      ]
    },
    {
      "type": "product_card_swatches",
      "name": "Color swatches",
      "limit": 1,
      "settings": [
        {
          "type": "paragraph",
          "content": "To show color swatches you must have a variant option name of one of the following: color, colour, couleur, color, farbe, 색 ,色 ,färg ,farve. You may need to upload custom swatch images. [Learn more](https://support.eightthemes.com/hc/en-us/articles/360020105257-How-to-Upload-Color-Swatches)"
        },
        {
          "type": "checkbox",
          "id": "show_color_label",
          "label": "Show color label",
          "default": true
        }
      ]
    },
    {
      "type": "product_card_quick_shop",
      "name": "t:sections.template--collection.blocks.product_card_quick_shop.name",
      "limit": 1,
      "settings": [
        {
          "type": "paragraph",
          "content": "t:sections.template--collection.blocks.product_card_quick_shop.settings.paragraph-0.content"
        }
      ]
    }
  ]
}
{% endschema %}
