.blog-article {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 8px;
  width: 100%;
}
.blog-article__image {
  width: 100%;
  height: 100%;
  display: grid;
}
.blog-article__image img {
  align-self: stretch;
  aspect-ratio: 175.5/117.16;
  width: 100%;
  object-fit: cover;
}
.blog-article__category {
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  color: #888;
  margin: 0;
  line-height: normal;
}
.blog-article__category--desktop {
  display: none;
  gap: 6px;
  justify-content: center;
  align-items: center;
}
.blog-article__category--desktop .dot {
  margin-bottom: 0 !important;
}
.blog-article__content {
  display: flex;
  padding-top: 8px;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  flex: 1 0 0;
}
.blog-article__title {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  color: #000;
  text-overflow: ellipsis;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  margin: 0;
  padding: 0;
}
@media screen and (max-width: 1024px) {
  .blog-article--highlight {
    grid-template-columns: auto;
    grid-template-rows: 1fr auto;
  }
  .blog-article--highlight .blog-article__content,
  .blog-article--highlight .blog-sneaker-post-gallery__article-content {
    padding: 0;
  }
}
@media screen and (min-width: 1024px) {
  .blog-article {
    gap: 20px;
  }
  .blog-article__image img {
    aspect-ratio: 461/308;
  }
  .blog-article__content {
    padding: 0;
    gap: 13px;
  }
  .blog-article__title {
    font-size: 28px;
    font-weight: 700;
    line-height: normal;
  }
  .blog-article__category {
    font-size: 16px;
  }
  .blog-article__category--desktop {
    display: flex;
  }
  .blog-article__category--mobile {
    display: none;
  }
  .blog-article--vertical {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr minmax(0, 115px);
    gap: 8px;
  }
  .blog-article--vertical .blog-article__category--mobile {
    display: flex;
    font-size: 14px;
  }
  .blog-article--vertical .blog-article__category--desktop {
    display: none;
  }
  .blog-article--vertical .blog-article__content {
    gap: 8px;
  }
  .blog-article--vertical .blog-article__title {
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px;
    text-overflow: ellipsis;
  }
  .blog-article--vertical .post-meta__date,
  .blog-article--vertical .post-meta__comments {
    font-size: 14px;
    font-style: normal;
    font-weight: 450;
    line-height: normal;
  }
}
