.blog-main-highlight-post {
  max-width: 1440px;
  margin: 0 auto;
}
.blog-main-highlight-post__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.blog-main-highlight-post__main {
  width: 100%;
  height: 100%;
}
.blog-main-highlight-post__main-link {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  background-color: black;
}
.blog-main-highlight-post__main-blog-title {
  color: rgba(255, 255, 255, 0.8);
  font-size: 12px;
  font-style: normal;
  font-weight: 530;
  line-height: normal;
  text-transform: uppercase;
  margin: 0;
}
.blog-main-highlight-post__main-image {
  width: 100%;
  height: 100%;
  display: grid;
  max-height: 100% !important;
  max-width: 100% !important;
  overflow: hidden;
}
.blog-main-highlight-post__main-image img {
  align-self: stretch;
  aspect-ratio: 359/239.66;
  width: 100%;
  object-fit: cover;
  transition: 0.85s cubic-bezier(0.455, 0.03, 0.21, 0.985);
}
.blog-main-highlight-post__main:hover img {
  transform: scale(1.1);
}
.blog-main-highlight-post__main-content {
  display: flex;
  padding: 14px 8px;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
  align-self: stretch;
}
.blog-main-highlight-post__main-title {
  margin: 0;
  padding: 0;
  color: #FFF;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
}
.blog-main-highlight-post__highlights {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 12px;
  padding: 16px 8px 24px 8px;
  max-width: 1440px;
  margin: 0 auto;
}
.blog-main-highlight-post__highlight-link {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 8px;
}
.blog-main-highlight-post__highlight-blog-title {
  color: rgba(0, 0, 0, 0.6);
  font-size: 12px;
  font-style: normal;
  font-weight: 530;
  line-height: normal;
  text-transform: uppercase;
}
.blog-main-highlight-post__highlight-title {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
}
.blog-main-highlight-post__highlight-content {
  display: flex;
  padding-top: 8px;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  flex: 1 0 0;
}
.blog-main-highlight-post__highlight p,
.blog-main-highlight-post__highlight h3 {
  margin: 0;
  padding: 0;
}
.blog-main-highlight-post__highlight-image {
  width: 100%;
  height: 100%;
  display: grid;
  max-height: 100% !important;
  max-width: 100% !important;
  overflow: hidden;
}
.blog-main-highlight-post__highlight-image img {
  align-self: stretch;
  aspect-ratio: 175.5/117.16;
  width: 100%;
  object-fit: cover;
  transition: 0.85s cubic-bezier(0.455, 0.03, 0.21, 0.985);
}
.blog-main-highlight-post__highlight:hover img {
  transform: scale(1.1);
}
.blog-main-highlight-post .post-meta__date,
.blog-main-highlight-post .post-meta__comments-text {
  font-size: 12px;
}
@media screen and (max-width: 1024px) {
  .blog-main-highlight-post .post-meta__date {
    color: rgba(255, 255, 255, 0.8) !important;
  }
  .blog-main-highlight-post .post-meta svg path {
    fill: rgba(255, 255, 255, 0.8) !important;
  }
  .blog-main-highlight-post .post-meta__comments-text {
    color: rgba(255, 255, 255, 0.8) !important;
  }
}
@media screen and (min-width: 1024px) {
  .blog-main-highlight-post__wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .blog-main-highlight-post__main-link {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background: #EAEAEA;
  }
  .blog-main-highlight-post__main-content {
    display: flex;
    padding: 116px 36px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    flex: 1 0 0;
    align-self: stretch;
    justify-content: center;
  }
  .blog-main-highlight-post__main-blog-title {
    color: #000;
    font-size: 14px;
    font-style: normal;
    font-weight: 530;
    line-height: normal;
    text-transform: uppercase;
    opacity: 0.6;
  }
  .blog-main-highlight-post__main-title {
    color: #000;
    font-size: 62px;
    font-style: normal;
    font-weight: 400;
    line-height: 77px;
  }
  .blog-main-highlight-post__main-image {
    order: 1;
  }
  .blog-main-highlight-post__highlights {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 0;
  }
  .blog-main-highlight-post__highlight-link {
    grid-template-columns: auto;
    grid-template-rows: 1fr minmax(0, 115px);
    gap: 8px;
  }
  .blog-main-highlight-post__highlight-image img {
    aspect-ratio: 460.67/307.53;
    height: 307.53px;
  }
  .blog-main-highlight-post__highlight-title {
    -webkit-line-clamp: 2;
  }
  .blog-main-highlight-post__highlight-blog-title {
    color: rgba(0, 0, 0, 0.6);
    font-size: 12px;
    font-style: normal;
    font-weight: 530;
    line-height: normal;
    text-transform: uppercase;
  }
  .blog-main-highlight-post .post-meta__date,
  .blog-main-highlight-post .post-meta__comments-text {
    font-size: 14px;
  }
}
