.blog-sneaker-highlight-spot {
  margin: 0 auto;
  max-width: 1440px;
}
.blog-sneaker-highlight-spot__wrapper {
  margin: 8px 8px 36px 8px;
}
.blog-sneaker-highlight-spot__articles {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}
.blog-sneaker-highlight-spot__article {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 1fr minmax(0, 90px);
  gap: 8px;
}
.blog-sneaker-highlight-spot__article .dot {
  margin-bottom: 2px;
}
.blog-sneaker-highlight-spot__article svg {
  margin-bottom: 2px;
}
@media screen and (max-width: 1024px) {
  .blog-sneaker-highlight-spot__articles {
    grid-template-columns: 1fr;
  }
  .blog-sneaker-highlight-spot__article:nth-child(2), .blog-sneaker-highlight-spot__article:nth-child(3) {
    display: none;
  }
}
.blog-sneaker-highlight-spot__article-image {
  width: 100%;
  height: 100%;
  display: flex;
}
.blog-sneaker-highlight-spot__article-image img {
  align-self: stretch;
  aspect-ratio: 359/239.66;
  width: 100%;
  object-fit: cover;
}
.blog-sneaker-highlight-spot__article-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  align-self: stretch;
}
.blog-sneaker-highlight-spot__article-title {
  overflow: hidden;
  color: #000;
  text-overflow: ellipsis;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
  margin: 0;
  padding: 0;
}
.blog-sneaker-highlight-spot__article-meta {
  display: flex;
  align-items: center;
  gap: 5px;
  flex-direction: row;
  margin: 0;
}
.blog-sneaker-highlight-spot__article-meta__comments {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 4px;
}
@media screen and (min-width: 1024px) {
  .blog-sneaker-highlight-spot__wrapper {
    margin: 20px 0px;
  }
  .blog-sneaker-highlight-spot__article-image {
    max-height: 100% !important;
    max-width: 100% !important;
    overflow: hidden;
  }
  .blog-sneaker-highlight-spot__article-image img {
    transition: 0.85s cubic-bezier(0.455, 0.03, 0.21, 0.985);
  }
  .blog-sneaker-highlight-spot__article:hover img {
    transform: scale(1.1);
  }
}

.blog-article--horizontal:nth-of-type(1) {
  display: none;
}

@media screen and (min-width: 1024px) {
  .blog-article--horizontal:nth-of-type(2) {
    display: none;
  }
  .blog-article--horizontal:nth-of-type(3) {
    display: none;
  }
}
.blog-sneaker-post-gallery {
  margin-bottom: 60px !important;
}

.blog-article__category.blog-article__category--desktop {
  display: none;
}
