#collection-grid {
  background-color: #f9f9f9;
  padding: 60px 0px 100px 0px;
}
#collection-grid .collection-grid-container .collection-grid-title {
  text-align: center;
}
#collection-grid .collection-grid-container .collection-grid-title h2 {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: -0.02rem;
}
#collection-grid .collection-grid-layout .collection-grid-item {
  position: relative;
}
#collection-grid .collection-grid-layout .collection-grid-item .collection-text {
  position: absolute;
  left: 20px;
  bottom: 20px;
  font-weight: bold;
}
#collection-grid .collection-grid-layout .collection-grid-item .collection-text p {
  font-size: 14px;
  letter-spacing: -0.02rem;
}
#collection-grid .collection-grid-layout .collection-grid-item .collection-image {
  height: 100%;
  width: 100%;
}
#collection-grid .collection-grid-layout .collection-grid-item .collection-image .responsive-image-wrapper {
  height: 100%;
  width: 100%;
  overflow: hidden;
}
#collection-grid .collection-grid-layout .collection-grid-item .collection-image .responsive-image-wrapper img {
  max-height: 100% !important;
  max-width: 100% !important;
  transition: 850ms cubic-bezier(0.455, 0.03, 0.21, 0.985);
  object-fit: cover;
}
#collection-grid .collection-grid-layout .collection-grid-item:hover .collection-image .responsive-image-wrapper img {
  transform: scale(1.075);
}
@media screen and (min-width: 768px) {
  #collection-grid {
    padding: 60px 8px;
  }
  #collection-grid .collection-grid-container .collection-grid-title h2 {
    font-size: 38px;
  }
}

.splide__arrow {
  padding-top: 2px;
}
