section#hero-banner .hero__banner-container {
  position: relative;
}
section#hero-banner .hero__banner-container .hero__banner-image-wrapper .splide__track {
  overflow: unset;
}
section#hero-banner .hero__banner-container .hero__banner-image-wrapper .desktop-splide {
  display: none;
}
@media screen and (min-width: 768px) {
  section#hero-banner .hero__banner-container .hero__banner-image-wrapper .desktop-splide {
    display: block;
  }
}
section#hero-banner .hero__banner-container .hero__banner-image-wrapper .mobile-splide {
  display: block;
}
@media screen and (min-width: 768px) {
  section#hero-banner .hero__banner-container .hero__banner-image-wrapper .mobile-splide {
    display: none;
  }
}
section#hero-banner .hero__banner-container .hero__banner-image-wrapper .hero__banner-image-desktop,
section#hero-banner .hero__banner-container .hero__banner-image-wrapper .hero__banner-image-mobile {
  width: 100%;
  height: 100vh;
}
section#hero-banner .hero__banner-container .hero__banner-image-wrapper .hero__banner-image-desktop .responsive-image-wrapper,
section#hero-banner .hero__banner-container .hero__banner-image-wrapper .hero__banner-image-mobile .responsive-image-wrapper {
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
}
section#hero-banner .hero__banner-container .hero__banner-image-wrapper .hero__banner-image-desktop .responsive-image-wrapper img,
section#hero-banner .hero__banner-container .hero__banner-image-wrapper .hero__banner-image-mobile .responsive-image-wrapper img {
  height: 100%;
  object-fit: cover;
}
@media screen and (min-width: 1920px) {
  section#hero-banner .hero__banner-container .hero__banner-image-wrapper .hero__banner-image-desktop .responsive-image-wrapper img,
  section#hero-banner .hero__banner-container .hero__banner-image-wrapper .hero__banner-image-mobile .responsive-image-wrapper img {
    object-fit: cover;
  }
}
section#hero-banner .hero__banner-container .hero__banner-title {
  position: -webkit-sticky !important;
  position: sticky !important;
  top: 53.5%;
  align-self: flex-start;
  height: auto;
  text-align: left;
  color: #fff;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.2;
  margin-left: 1rem;
}
@media screen and (min-width: 768px) {
  section#hero-banner .hero__banner-container .hero__banner-title {
    width: auto;
    margin-left: 4rem;
  }
}
