#instagram-grid {
  background-color: #f9f9f9;
  padding: 60px 0px 0 0px;
}
#instagram-grid .instagram-grid-container .instagram-grid-title {
  text-align: center;
}
#instagram-grid .instagram-grid-container .instagram-grid-title h2 {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: -0.02rem;
}
#instagram-grid .instagram-grid-layout {
  display: grid;
  grid-template-rows: repeat(4, minmax(50px, 1fr));
  grid-template-columns: repeat(2, minmax(50px, 1fr));
  gap: 8px;
}
@media screen and (min-width: 768px) {
  #instagram-grid {
    padding: 60px 8px;
  }
  #instagram-grid .instagram-grid-container .instagram-grid-title h2 {
    font-size: 32px;
  }
  #instagram-grid .instagram-grid-layout {
    grid-template-rows: repeat(2, minmax(200px, 1fr));
    grid-template-columns: repeat(4, minmax(200px, 1fr));
  }
}
