#instagram-grid .instagram-grid-layout {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  gap: 8px;
}
@media screen and (max-width: 768px) {
  #instagram-grid .instagram-grid-layout {
    gap: 2px;
    background-color: #000;
  }
}
#instagram-grid .image-grid-item {
  aspect-ratio: 1/1;
}
#instagram-grid .title-wrapper img {
  margin-bottom: 5px;
}
