.product-section {
  padding: 0 12px;
  /* Arrow icon */
  /* Rotate the SVG icon when details is open */
}
@media screen and (max-width: 767px) {
  .product-section .product-single-wrapper .product-medias {
    flex-direction: column;
  }
  .product-section .product-single-wrapper .product-medias .product-medias__main {
    width: 100%;
  }
  .product-section .product-single-wrapper .product-medias .product-medias__main .swiper-pagination {
    display: none;
  }
  .product-section .product-single-wrapper .product-medias .product-medias__thumbnails {
    width: 100%;
    display: flex !important;
    overflow-x: scroll;
  }
}
.product-section #ComparePrice.sale-price {
  color: rgba(0, 0, 0, 0.5);
}
.product-section .product-description {
  color: rgba(0, 0, 0, 0.5);
  font-weight: 500;
  width: 80%;
}
.product-section .swatch:not(.is-color-swatch):not(.linked-products-swatch) .soldout label:after {
  position: relative;
}
.product-section .swatch [data-swatch-option-available=true] label {
  outline: 1px solid #000;
}
.product-section details {
  margin-bottom: 0.5rem;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid #000;
}
.product-section summary {
  font-weight: 500;
  cursor: pointer;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.product-section summary svg {
  transition: transform 0.3s ease;
  margin-left: 10px;
}
.product-section details[open] summary svg {
  transform: rotate(180deg);
}
.product-section .content {
  margin: 10px 0;
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.5s ease; /* Smooth transition */
}
.product-section .content ul li {
  list-style-type: none;
  position: relative;
}
.product-section .content ul li::before {
  content: "-"; /* Dash as bullet */
  position: absolute;
  left: -20px; /* Position dash outside the content */
}
.product-section .paymentButtonsWrapper {
  margin: 60px 0 15px 0 !important;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 13px;
}
.product-section .paymentButtonsWrapper .add-to-cart--secondary#AddToCart {
  background-color: transparent;
  border-color: #000;
  color: #000;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px !important;
}
.product-section .paymentButtonsWrapper .add-to-cart--secondary#AddToCart span.add-to-cart {
  display: flex;
  justify-content: center;
  gap: 14px;
  align-items: center;
}
.product-section .paymentButtonsWrapper .add-to-cart--secondary#AddToCart:hover {
  background-color: #000;
  color: #fff;
}
.product-section .paymentButtonsWrapper .add-to-cart--secondary#AddToCart:hover svg path {
  fill: #fff;
}
.product-section .paymentButtonsWrapper .add-to-cart--secondary#AddToCart.add-to-cart--secondary.disabled {
  background: var(--secondary-btn-bg-color);
  color: var(--secondary-btn-text-color);
}
.product-section .paymentButtonsWrapper #CheckOut {
  display: flex;
  justify-content: center;
  gap: 14px;
  align-items: center;
  background-color: #000;
  color: #fff;
  height: 100%;
  border: 1px solid #000;
  font-size: 14px;
}
.product-section .paymentButtonsWrapper #CheckOut:hover {
  background-color: #fff;
  color: #000;
}
.product-section .paymentButtonsWrapper #CheckOut:hover svg path {
  fill: #000;
}
