/* Comments container */
.blog-comment {
    padding: 0;
    max-width: 800px;
    margin: 0 auto 73px auto;
    background: transparent;

    hr {
        opacity: 0.3;
        background: #000;
        height: 1px;
        margin: 20px 0;
    }

    &__title {
        font-size: 24px;
        font-weight: 700;
        background: transparent;
        margin: 0;
    }

    &__list {
        list-style: none;
        padding: 0;
        margin: 0;
        background: transparent;
    }

    &__item {
        padding: 20px 0 8px 0px;
        margin: 0;
        border-bottom: 1px solid rgba(0, 0, 0, 0.08);
        background: transparent;

        &:last-child {
            border-bottom: none;
        }
    }

    &__content {
        background: transparent;
        margin-top: 0;
    }

    &__text {
        font-size: 20px;
        line-height: 1.4;
        margin-bottom: 8px;
        color: #000;
        font-weight: 400;
        letter-spacing: -0.01em;
        background: transparent;
    }

    &__meta {
        color: rgba(0, 0, 0, 0.5);
        font-size: 16px;
        display: flex;
        gap: 4px;
        align-items: center;
        font-weight: 400;
        background: transparent;
    }

    &__author {
        font-weight: 400;
    }

    &__separator {
        margin: 0 4px;
        opacity: 0.5;
        width: 4px;
        height: 4px;
        background: #00000080;
        border-radius: 50%;
    }

    &__form {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        .comment-form {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            gap: 20px;
        }

        &__wrapper-title {
            float: left;
            width: 100%;
        }

        &-title {
            font-size: 24px;
            font-weight: 700;
            margin: 0;
            text-align: left;
        }

        &-grid {
            width: 100%;
            margin: 0;
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 20px;
        }

        &-group {

            &--textarea {
                grid-column: 1 / -1;

            }
        }

        &-label {
            font-size: 16px;
            margin-bottom: 8px;
            display: none;
        }

        &-input {
            width: 100%;
            padding: 16px;
            font-size: 16px;
            background: transparent;
            border: 0.5px solid rgba(0, 0, 0, 0.30) !important;

            &::placeholder {
                color: rgba(0, 0, 0, 0.4);
                font-size: 14px;
            }

            &:focus {
                border: 0.5px solid rgba(0, 0, 0, 0.30);
            }
        }

        &-textarea {
            width: 100%;
            height: 100%;
            resize: vertical;
            border: 0.5px solid rgba(0, 0, 0, 0.30);

            &::placeholder {
                color: rgba(0, 0, 0, 0.4);
                font-size: 14px;
            }
        }

        &-submit {
            display: inline-flex;
            align-items: center;
            justify-content: center;
            min-width: 253px;
            padding: 16px 32px;
            background: transparent;
            color: #000;
            border: 1px solid #000;
            border-radius: 0;
            font-size: 14px;
            font-weight: 700;
            text-transform: uppercase;
            letter-spacing: 0.05em;
            cursor: pointer;
            transition: all 0.3s ease;

            &:hover {
                background: #000;
                color: #fff;
            }
        }
    }

    &__pagination {
        margin-top: 20px;

        &-list {
            display: flex;
            justify-content: center;
            list-style: none;
            padding: 0;
        }

        &-item {
            margin: 0 5px;

            &--active {
                font-weight: bold;
            }
        }

        &-link {
            text-decoration: none;
            color: #333;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    &__moderated {
        width: 100%;
        text-align: start;

        p {
            font-style: italic;
            font-size: 10px;
            opacity: 0.7;
        }
    }
}

/* Desktop styles */
@media (min-width: 768px) {
    .blog-comment__form-grid {
        grid-template-columns: 1fr 1fr;
    }
}

/* Mobile styles */
@media (max-width: 767px) {
    .blog-comment {
        padding: 0 16px;
        margin-bottom: 40px;
        
        &__title {
            font-size: 32px;
        }

        &__form {
            // margin-top: 48px;
            // padding-top: 48px;

            &-title {
                font-size: 32px;
                // margin-bottom: 32px;
            }

            &-grid {
                grid-template-columns: 1fr;
                gap: 16px;
            }

            &-submit {
                width: 100%;
            }

            &-textarea {
                min-height: 150px;
            }
        }
    }
}