.blog-sneaker-post-gallery {
    max-width: 1440px;
    margin: 0 auto;
    padding: 8px;
    margin-top: 30px;

    &__wrapper {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: 
        "articles" 
        "view-more" 
        "newsletter";
    }

    &__heading {
        color: #000;
        font-size: 24px;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
        letter-spacing: -0.48px;
        text-transform: uppercase;
        margin-bottom: 16px;
    }

    &__articles {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
        align-self: stretch;
        grid-area: articles;
    }

    &__newsletter {
        position: relative;
        height: fit-content;
        max-height: 550px;
        position: sticky;
        top: 57px;
        z-index: 10;
        grid-area: newsletter;

        &-wrapper {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 3;
            padding: 20px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-start;
        }

        &-image {
            display: grid;

            img {
                max-height: 550px;
                object-fit: cover;
            }

            &-overlay {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: #000;
                opacity: 0.4;
                z-index: 1;
            }
        }

        &-content {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 20px;
            align-self: stretch;
        }

        &-heading {
            color: #FFF;
            font-size: 40px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            text-transform: uppercase;
            margin: 0;
            padding: 0;
        }

        &-subheading {
            color: #FFF;
            font-size: 24px;
            font-style: normal;
            font-weight: 450;
            line-height: normal;
        }

        &-form {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 20px;
            align-self: stretch;
        }

        &-input {
            display: flex;
            padding: 12px;
            align-items: center;
            gap: 10px;
            align-self: stretch;
            border-bottom: 1px solid #FFF;

            color: #FFF;
            font-size: 20px;
            font-style: normal;
            font-weight: 450;
            line-height: normal;
            width: 100%;

            &::placeholder {
                color: #FFF;
                opacity: 0.7;
            }

            &::selection {
                background: #FFF;
                color: #000;
            }

            &:focus {
                outline: none;
                border-bottom: 1px solid #FFF !important;
            }

            &:hover {
                border-bottom: 1px solid #FFF;
            }

            &:active {
                border-bottom: 1px solid #FFF;
            }
        }

        &-subscribe {
            display: flex;
            height: 40px;
            padding: 10px;
            justify-content: center;
            align-items: center;
            gap: 10px;
            align-self: stretch;
            background: #FFF;

            color: #000;
            text-align: center;
            font-size: 14px;
            font-style: normal;
            font-weight: 800;
            line-height: normal;
            letter-spacing: -0.28px;
            text-transform: uppercase;

            &:hover {
                background-color: #000;
                color: #FFF;
            }

        }
    }

    &__view-more {
        display: flex;
        justify-content: center;
        align-items: center;
        grid-area: view-more;
        margin-top: 20px;

        &_btn {
            display: flex;
            width: 100%;
            height: 40px;
            padding: 10px;
            justify-content: center;
            align-items: center;
            gap: 10px;
            flex-shrink: 0;
            color: #000;
            text-align: center;
            font-size: 14px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            letter-spacing: -0.28px;
            text-transform: uppercase;
            border: 1px solid #000;
            border-radius: 0;
            background-color: #FFF;
            transition: background-color 0.3s ease;

            &:hover {
                background-color: #000;
                color: #fff;
            }
        }
    }

    @media screen and (min-width: 1024px) {
        padding: 40px 8px 0 8px;

        &__heading {
            color: #000;
            font-size: 32px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            text-transform: uppercase;
        }

        &__wrapper {
            display: grid;
            grid-template-columns: 1fr minmax(0, 350px);
            grid-template-rows: auto auto;

            width: 100%;
            gap: 20px;

            grid-template-areas:
                "articles newsletter"
                "view-more view-more";
        }

        &__articles {
            border-top: 1px solid #000;
            padding: 20px 0 0 0;
        }


        &__view-more {
            &_btn {
                width: 191px;
            }
        }
    }

    @media screen and (min-width: 1280px) {
        &__wrapper {
            grid-template-columns: 1fr calc(100% / 3);
        }
    }

    @media screen and (max-width: 1024px) {
        &__newsletter {
            height: 300px;
            max-height: unset;
            margin: 40px 0 32px 0;

            &-image {
                img {
                    height: 300px;
                    max-height: unset;
                }
            }

            &-content {
                gap: 8px;
            }

            &-heading {
                font-size: 32px;
            }

            &-subheading {
                font-size: 18px;
            }
        }

    }

    @media screen and (min-width: 1440px) {
        padding: 8px 0;
    }
}