.related-post {
    padding: 20px 8px; // Adjusted padding-left and padding-right to 8px

    hr { 
        height: 1px;
        background-color: #000;
        margin: 20px 0;
    }

    &__title {
        color: #000;
        font-size: 32px;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
        letter-spacing: -0.64px;
        text-transform: uppercase;
        margin: 0;
    }

    &__list {
        display: grid;
        grid-template-columns: 1fr; // Single column by default
        gap: 20px;

        @media (min-width: 768px) {
            grid-template-columns: repeat(3, 1fr); // Three columns for larger screens
            gap: 15px;
        }
    }

    &__item {
        display: flex;
        flex-direction: column;
        background-color: #fff;
        border: 1px solid #ddd;
        border-radius: 5px;
        overflow: hidden;
        transition: transform 0.3s ease, box-shadow 0.3s ease;

        &:hover {
            transform: translateY(-5px);
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
        }
    }

    &__image {
        width: 100%;
        height: auto;

        img {
            display: block;
            width: 100%;
            height: auto;
            aspect-ratio: 461.33/307.97;
            object-fit: cover;
        }
    }

    &__content {
        padding: 15px;

        &__category {
            font-size: 12px;
            font-weight: bold;
            color: #888;
            text-transform: uppercase;
            margin-bottom: 10px;
        }

        &__title {
            font-size: 16px;
            font-weight: bold;
            margin-bottom: 10px;
            color: #000;
            line-height: 1.4;
        }

        &__meta {
            display: flex;
            align-items: center;
            justify-content: start;
            font-size: 14px;
            font-weight: 450;
            gap: 5px;
            line-height: normal;

            &__comments {
                display: flex;
                align-items: center;
                justify-content: start;
                gap: 4px;
            }
        }
    }
}