section#hero-banner {
    .hero__banner-container {
        position: relative;

        .hero__banner-image-wrapper {
            .splide__track {
                overflow: clip;
            }

            .desktop-splide {
                display: none;

                @media screen and (min-width: 768px) {
                    display: block;
                }
            }

            .mobile-splide {
                display: block;

                @media screen and (min-width: 768px) {
                    display: none;
                }

                .hero__banner-title {

                    transform: translateY(0%) !important;
                }

            }

            .hero__banner-image-desktop,
            .hero__banner-image-mobile {
                width: 100%;
                height: 100vh;

                .responsive-image-wrapper {
                    position: absolute;
                    width: 100%;
                    height: 100vh;
                    top: 0;

                    img {
                        height: 100%;
                        object-fit: cover;
                    }
                }

                @media screen and (min-width: 990px) {
                    height: calc(100vh - 57px);

                    .responsive-image-wrapper {
                        height: calc(100vh - 57px);
                    }
                }

                @media screen and (min-width: 1920px) {
                    .responsive-image-wrapper {
                        img {
                            object-fit: cover;
                        }
                    }
                }
            }
        }

        .hero__banner-title {
            position: -webkit-sticky !important; // for safari
            position: sticky !important;
            top: 50%;
            transform: translateY(49%);
            text-align: left;
            color: #fff;
            font-size: 24px;
            font-weight: 700;
            line-height: 1.2;
            margin-left: 3.5rem;
            margin-bottom: 3.5rem;
            width: 70%;

            @media screen and (min-width: 768px) {
                width: auto;
                margin-left: 4rem;
                margin-bottom: 4.5rem;
            }
        }
    }
}