.collection-wrapper {
    --filter-border-color: var(--border-color);
    --filter-text-color: var(--text-color);
    --filter-font-family: var(--body-font-stack);
    --filter-font-style: var(--body-font-style);
    --filter-font-weight: var(--body-font-weight);
    --filter-body-font-size: var(--body-font-size);
    --filter-base-font-size: var(--base-font-size);
    --filter-body-font-size-12-em: var(--body-font-size-12-to-em);
    --filter-background-color: var(--color-primary-background);
    --filter-color-background-rgb: var(--color-primary-background-rgb);
    --collection-color-background-rgb: var(--color-secondary-background);

    .collection-header__title {
        .page-title {
            margin-bottom: 0;
        }
    }

    &.wrapper {
        background-color: var(--collection-color-background-rgb);
    }
}

/* Select */
summary .icon-caret,
.select .icon-caret,
.customer select + svg {
    pointer-events: none;
    position: absolute;
    top: 30%;
    right: 10px;
    transition: all 0.3s ease;
}

.select__select,
.customer select {
    cursor: pointer;
    padding: 0 36px 0 0.8rem;
}

.field {
    position: relative;
    width: 100%;
    display: flex;
}

.field__input,
.select__select {
    font-size: 1.3rem;
    line-height: 1.5;
    letter-spacing: 0.04rem;
}

.field__label,
.customer .field label {
    font-size: 0.8rem;
    left: 1.5rem;
    top: 1rem;
    margin-bottom: 0;
    pointer-events: none;
    position: absolute;
    transition:
        top 100ms ease,
        font-size 100ms ease;
    letter-spacing: 0.1rem;
    line-height: 1.5;
}

.field__input:focus,
.field__input:not(:placeholder-shown),
.field__input:-webkit-autofill,
.customer .field input:focus,
.customer .field input:not(:placeholder-shown),
.customer .field input:-webkit-autofill {
    padding: 2.2rem 1.5rem 0.8rem;
}

.field__input::-webkit-search-cancel-button,
.customer .field input::-webkit-search-cancel-button {
    display: none;
}

.field__input::placeholder,
.customer .field input::placeholder {
    opacity: 0;
}

/* component-form */
.field__input,
.select__select,
.customer .field input,
.customer select {
    -webkit-appearance: none;
    appearance: none;
    background-color: transparent;
    border: 0;
    border-radius: 0;
    color: var(--filter-text-color);
    font-size: 1.2rem;
    width: 100%;
    box-shadow: 0 0 0 0.1rem var(--filter-border-color);
    height: 2.7rem;
    box-sizing: border-box;
    transition: box-shadow 100ms ease;
}

.field__input,
.customer .field input {
    flex-grow: 1;
    text-align: left;
    padding: 1.5rem;
}

.field__input:hover,
.select__select:hover,
.customer .field input:hover,
.customer select:hover,
.localization-form__select:hover {
    box-shadow: 0 0 0 0.2rem var(--filter-border-color);
}

.field__input:focus-visible,
.select__select:focus-visible,
.field input:focus-visible {
    box-shadow:
        0 0 0 0.1rem -webkit-focus-ring-color,
        0 0 0 0.3rem var(--filter-border-color),
        0 0 0.5rem 0.4rem -webkit-focus-ring-color;
}

.field__input:focus,
.select__select:focus,
.field input:focus {
    box-shadow:
        0 0 0 0.1rem -webkit-focus-ring-color,
        0 0 0 0.3rem var(--filter-border-color),
        0 0 0.5rem 0.4rem -webkit-focus-ring-color;
}

// .facets__summary:focus-visible,
// .facets__summary:focus {
//     border: solid var(--filter-border-color) 1px;
// }

.field__input:focus ~ .field__label,
.field__input:not(:placeholder-shown) ~ .field__label,
.field__input:-webkit-autofill ~ .field__label,
.customer .field input:focus ~ label,
.customer .field input:not(:placeholder-shown) ~ label,
.customer .field input:-webkit-autofill ~ label {
    font-size: 0.7rem;
    top: 0.3em;
    letter-spacing: 0.04rem;
}

.field__input:focus,
.field__input:not(:placeholder-shown),
.field__input:-webkit-autofill,
.customer .field input:focus,
.customer .field input:not(:placeholder-shown),
.customer .field input:-webkit-autofill {
    padding: 1.5rem 1rem 0.8rem;
}

.field__input::-webkit-search-cancel-button,
.customer .field input::-webkit-search-cancel-button {
    display: none;
}

.field__input::placeholder,
.customer .field input::placeholder {
    opacity: 0;
}

.select__select {
    box-shadow: 0 0 0 0.07rem var(--filter-border-color);
    font-family: var(--filter-font-family);
    font-style: var(--filter-font-style);
    font-weight: var(--filter-font-weight);
    font-size: var(--filter-body-font-size-12-em-12-to-em);
    color: var(--filter-text-color);
}

.text-area,
.select {
    display: inline-block;
    position: relative;
    width: 100%;
}

/* base-details-summary */
summary {
    cursor: pointer;
    list-style: none;
    position: relative;
}

summary::-webkit-details-marker {
    display: none;
}

.disclosure-has-popup {
    position: relative;
}

// .disclosure-has-popup[open] > summary::before {
//     position: fixed;
//     top: 0;
//     right: 0;
//     bottom: 0;
//     left: 0;
//     z-index: 2;
//     display: block;
//     cursor: default;
//     content: " ";
//     background: transparent;
// }

// .disclosure-has-popup > summary::before {
//     display: none;
// }

// .disclosure-has-popup[open] > summary + * {
//     z-index: 101;
// }

.collection {
    position: relative;
}

.collection .title:not(.title--no-heading) {
    margin-top: -1rem;
}

@media screen and (min-width: 768px) {
    .collection .title-wrapper-with-link--no-heading {
        margin-top: 6rem;
    }
}

.collection .grid__item,
.template-search .grid__item {
    padding-bottom: 2rem;
}

.collection-product-count {
    margin-top: 0;
    font-size: var(--filter-base-font-size);
}

.collection-product-count {
    margin-top: 1.5rem;
}

.template-search .grid__item--small {
    padding-bottom: 0.5rem;
}

.collection.loading .collection-product-count {
    visibility: hidden;
}

.collection .grid__item:only-child {
    flex: 0 0 100%;
    max-width: 100%;
}

@media screen and (min-width: 768px) {
    .collection .grid__item,
    .template-search .grid__item {
        padding-bottom: 5rem;
    }

    .template-search .grid__item--small {
        padding-bottom: 1rem;
    }
}

.collection .negative-margin,
.template-search .negative-margin {
    margin-bottom: -2rem;
}
.collection .negative-margin,
.template-search .negative-margin {
    margin-bottom: -5rem;
}

.collection .negative-margin--small {
    margin-bottom: -1rem;
}

.collection .loading-overlay {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
    width: 100%;
    padding: 0 5rem;
    background-color: rgba(var(--filter-color-background-rgb), 0.7);
}

.collection.loading .loading-overlay {
    display: block;
}

.collection--empty .title-wrapper {
    margin-top: 10rem;
    margin-bottom: 15rem;
}

.collection-filters {
    display: flex;
    flex-direction: column;
}

.collection-info__description {
    text-align: center;
}

.collection-filters {
    display: block;
}

.collection-info__sidebar {
    padding-top: 2rem;
}

.collection-info__sidebar .page--title {
    text-align: left;
}

.collection-info__topbar .collection-info__description.rte {
    text-align: center;
}

.collection-filters__label {
    display: block;
    color: var(--filter-text-color);
    font-size: var(--filter-base-font-size);
    line-height: 1;
    margin: 0 0 1rem;
    width: 100%;
}

.collection-filters__summary {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: var(--filter-base-font-size);
    cursor: pointer;
    height: 4.5rem;
    padding: 0 1.5rem;
    min-width: 25rem;
    margin-top: 2.4rem;
    border: 0.1rem solid var(--filter-border-color);
}

.collection-filters__summary::after {
    position: static;
}

.collection-filters__item {
    display: flex;
    grid-column: 2;
    grid-row: 1;
}

.collection-filters__field {
    flex-grow: 1;
    max-width: 100%;
}

.collection-filters__item button {
    padding: var(--filter-font-size 2.6rem);
    margin-left: 1rem;
}

.collection-filters__disclosure {
    min-width: 25rem;
}

.collection-filters__disclosure summary::after {
    top: 0;
}

.collection-filters__disclosure a {
    color: var(--filter-text-color);
    cursor: pointer;
    display: block;
    padding: 1.2rem;
    text-transform: capitalize;
    text-decoration: none;
}

.collection-filters .collection-filters__sort {
    max-width: 100%;
}

.facets {
    display: block;
}

.facets__form-inner {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto auto;
    column-gap: 2rem;
}

.facets__wrapper {
    grid-column: 1;
    grid-row: 1;
    display: flex;
    flex-wrap: wrap;
}

.facets__heading {
    display: block;
    color: black;
    font-size: 14px;
    font-weight: 700;
    line-height: 1;
    width: 100%;
    margin-bottom: 20px;
}

.facets__reset {
    margin-left: auto;
    color: unset;
    margin-left: 0.5rem;
}

.facets__selected,
.facets__reset {
    line-height: normal;
    height: fit-content;
}

.facets__disclosure {
    transition: box-shadow 100ms ease;
    border-bottom: 1px solid var(--filter-border-color);

    &[open] {
        .facets__summary {
            .icon-caret {
                transform: rotate(180deg);
            }
        }
    }
}

.facets__disclosure:last-of-type {
    border-bottom: 0;
}

.facets__summary {
    padding: 8px 0 0 0;
    font-size: 12px;
    color: black;

    .facets__title {
        display: flex;
        justify-content: start;
        align-items: center;
    }
}

.facets__summary > span {
    line-height: 1.3;
}

.facets__display {
    background-color: var(--filter-background-color);
    // border-top: 1px solid var(--filter-border-color);
    overflow-y: auto;
}

// .facets__display {
//     border: 1px solid var(--filter-border-color);
//     max-height: 55rem;
//     position: absolute;
//     top: calc(100% + 0.5rem);
//     left: -0.1rem;
//     width: 35rem;
// }

.facets__header {
    // border-bottom: 1px solid var(--filter-border-color);
    padding: 1rem 1.2rem;
    display: flex;
    justify-content: space-between;
    font-size: var(--filter-base-font-size);
    position: sticky;
    top: 0;
    background-color: var(--filter-background-color);
    z-index: 1;
}

.facets__list {
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr;

    &.facets__list_two_columns {
        grid-template-columns: repeat(2, 1fr);
    }

    &.facets__list_three_columns {
        grid-template-columns: repeat(3, 1fr);
    }
}

.facets__item {
    display: flex;
    align-items: center;
}

.facets__item label,
.facets__item input[type="checkbox"] {
    cursor: pointer;
}

.facet-checkbox {
    padding: 0.5rem 1rem 0.5rem 0;
    flex-grow: 1;
    position: relative;
    font-size: var(--filter-base-font-size);
    display: flex;
    word-break: break-word;
    line-height: 0;
    align-items: center;
    color: #000000b3;
}

.facet-checkbox input[type="checkbox"] {
    position: absolute;
    opacity: 1;
    width: 1.2rem;
    height: 1.2rem;
    top: 0.4rem;
    left: 0.5rem;
    z-index: -1;
    appearance: none;
    -webkit-appearance: none;
    border-bottom: none;
}

.facet-checkbox > svg,
.facet-checkbox > div.filter-swatch {
    background-color: var(--filter-background-color);
    margin-right: 11px;
    flex-shrink: 0;
}

.facet-checkbox > div.filter-swatch {
    width: var(--filter-base-font-size);
    height: var(--filter-base-font-size);
    border: 1px solid var(--border-color);
}

.facet-checkbox .icon-checkmark {
    visibility: hidden;
    position: absolute;
    z-index: 5;
}

.facet-checkbox > input[type="checkbox"]:checked ~ .icon-checkmark {
    visibility: visible;
}

.facet-checkbox--disabled {
    color: var(--filter-border-color);
}

.facets__price {
    display: flex;
    padding: 2px 2px 20px 2px;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    gap: 17px;
}

.facets__price .field {
    align-items: start;
    gap: 5px;
    flex-direction: column;

    .facets__selected {
        font-size: 12px;
    }
}

.facets__price .field .field__currency {
    margin-right: 0.6rem;
}

.facets__price .field__label {
    left: 2.1rem;
}

button.facets__button {
    min-height: 0;
    margin: 0 0 0 0.5rem;
    box-shadow: none;
    padding-top: var(--filter-base-font-size);
    padding-bottom: var(--filter-base-font-size);
}

.active-facets {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-left: -1rem;
    grid-column: 1 / span 2;
    grid-row: 2;
}

.active-facets-desktop {
    order: -1;
}

.active-facets-mobile {
    display: none;
}

a.active-facets__button {
    color: var(--filter-text-color);
    box-shadow: 0 0 0 0.1rem var(--filter-border-color);
    border-radius: 2.6rem;
    font-size: var(--filter-body-font-size-12-em);
    min-height: 0;
    min-width: 0;
    padding: 0.5rem 1rem;
    margin: 0 0 1rem 1rem;
    display: flex;
    align-items: center;
}

a.active-facets__button div.color-icon {
    margin-left: 0;
    margin-right: 0.6rem;
}

a.active-facets__button {
    box-shadow: 0 0 0 0.1rem var(--filter-border-color);
}

a.active-facets__button:hover {
    box-shadow: 0 0 0 0.2rem var(--filter-border-color);
}

a.active-facets__button--light {
    box-shadow: 0 0 0 0.1rem var(--filter-border-color);
}

a.active-facets__button--light:hover {
    box-shadow: 0 0 0 0.2rem var(--filter-border-color);
}

a.active-facets__button:focus-visible,
a.active-facets__button:focus {
    box-shadow:
        0 0 0 0.1rem var(--filter-border-color),
        0 0 0 0.2rem var(--filter-background-color),
        0 0 0 0.4rem -webkit-focus-ring-color;
    outline: none;
}

.active-facets__button svg {
    width: var(--filter-base-font-size);
    margin-left: 0.6rem;
    pointer-events: none;
}

.active-facets__button:only-child {
    display: none;
}

.active-facets__button.disabled {
    pointer-events: none;
}

.count-bubble {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.7rem;
    width: 1.1rem;
    height: 1.1rem;
    border-radius: 50%;
    background-color: var(--primary-btn-bg-color);
    color: var(--filter-background-color);
    margin-left: 0.5rem;
}

.count-bubble:empty {
    visibility: hidden;
}

.count-bubble--dot:empty {
    visibility: visible;
}

.count-bubble--dot::before {
    content: "";
    width: 0.2rem;
    height: 0.2rem;
    display: block;
    background-color: var(--filter-background-color);
    border-radius: 50%;
}

.facets__summary > div {
    display: flex;
    align-items: center;
}

.sorting .button {
    margin-top: 2.4rem;
    padding-top: 1.3rem;
}

.spaced-section--full-width {
    width: 100%;
}

.collection-wrapper {
    display: flex;
    flex-wrap: wrap;
}

.collection-filtering-section {
    width: 100%;
}

.drawer-close-btn,
.drawer__close {
    display: none;
}

.js-drawer-open .drawer-close-btn,
.js-drawer-open .drawer__close {
    display: block;
}
.mobile-facets__open {
    text-align: center;
    width: 100%;
    margin: 20px 0;
}

.mobile-facets__open {
    display: none;
}
.mobile-facets__open > * + * {
    margin-left: 1rem;
}

.mobile-facets__open svg {
    width: 2rem;
}

.mobile-facets__open line,
.mobile-facets__open circle {
    stroke: var(--color-button-border);
}

details[open] .mobile-facets__open {
    visibility: hidden;
}

#CollectionFiltersForm {
    position: fixed;
    top: 0;
    bottom: 0;
    right: -100%;
    z-index: 99999;
    background-color: white;
    max-width: 90%;
    width: 100%;
    transition: right 0.6s cubic-bezier(0.165, 0.84, 0.44, 1) 0.1s;
    padding: 10px 20px 10px 10px;
    overflow: auto;

    @media screen and (min-width: 768px) {
        max-width: 30rem;
        padding: 10px;
    }
}

collection-filtering-form.is-open #CollectionFiltersForm {
    right: 0;
}

// .facets__form {
//     // opacity: 0;
//     transition: opacity 0.4s ease-in;
// }

// collection-filtering-form.is-open .facets__form {
//     opacity: 1;
// }

collection-filtering-form .drawer__close button {
    top: 0;
    right: 0;
}

// .js-drawer-open-right {
//     collection-filtering-form {
//         position: fixed;
//         top: 0;
//         bottom: 0;
//         left: -90%;
//         z-index: 99999;
//         background-color: white;
//         max-width: 90%;
//         width: 100%;
//         transition: transform 0.6s cubic-bezier(0.165, 0.84, 0.44, 1) 0.1s;
//         padding: 15px;
//         overflow-y: auto;
//     }
// }

// {%- if desktop_position == 'sidebar' -%}
//   .facets__form-inner {
//     display: flex !important;
//     flex-direction: column-reverse;
//     gap: 2rem;
//   }

//   .facets__wrapper {
//     display: block !important;
//   }
// {%- endif -%}

.facets__form-inner {
    display: flex !important;
    flex-direction: column-reverse;
    gap: 2rem;
    justify-content: space-between;
    height: 100%;
    overflow: scroll;
}

.facets__wrapper {
    display: block !important;
}
input[data-swatch="true"]:checked + div.filter-swatch {
    border: 2px solid var(--text-color);
    box-shadow: 0 0 0 2px var(--filter-background-color) inset;
}

a[data-swatch="true"] div.color-icon {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 1px solid var(--border-color);
}

.collection-filters-handler-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    flex-direction: row;

    .collection-filters-handler {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 10px;
        flex-direction: row;
        border: 0;
        background-color: transparent;

        .collection-filters {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: row;
        }
    }

    .collection-filters__item {
        select {
            font-size: 14px;
            font-weight: 500;
            border: none;
            outline: none;
            scroll-behavior: smooth;

            &:focus {
                outline: none;
            }

            label {
                display: none;
            }
        }

        // /* Style the label */
        // .collection-filters-handler {
        //     display: inline-block;
        //     background-color: #3498db;
        //     color: white;
        //     padding: 10px 20px;
        //     border-radius: 5px;
        //     cursor: pointer;
        //     user-select: none;
        // }

        // /* Optional: style the label when the dropdown is open (select:focus state) */
        // select:focus + .collection-filters-handler {
        //     background-color: #2980b9;
        // }
    }

    .collection-filters-btn {
        padding: 5px 3px;
        font-size: 14px;
        font-weight: 500;
    }
    .collection-sort-btn {
        padding: 6px 2px;
        font-size: 14px;
        font-weight: 500;
    }
}

.grid-area--filtering {
    .container {
        display: none;
    }
}
