#social-media-grid {
    background-color: #f9f9f9;
    padding-bottom: 60px;

    h2 {
        text-align: center;
        font-size: 24px;
        font-weight: 700;
        margin-bottom: 0;
        text-transform: uppercase;
        letter-spacing: -0.02rem;
    }

    .social-media-wrapper {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        gap: 4px;

        @media screen and (min-width: 1024px) {
            grid-template-columns: 1fr 1fr;
            gap: 16px;
            height: 100%;
        }
    }

    .title-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        margin-bottom: 20px;
        margin-top: 20px;

        img {
            height: 24px;
            width: auto;
        }

        @media screen and (min-width: 1024px) {
            justify-content: start;
            margin-bottom: 10px;
            margin-top: 0;
        }
    }

    .image-grid-item {
        .image {
            height: 100%;
            width: 100%;

            .responsive-image-wrapper {
                height: 100%;
                width: 100%;
                overflow: hidden;
                img {
                    height: 100% !important;
                    transition: 850ms cubic-bezier(0.455, 0.03, 0.21, 0.985);
                }
            }
        }
        &:hover {
            .image {
                .responsive-image-wrapper {
                    img {
                        transform: scale(1.075);
                    }
                }
            }
        }
    }

    .whatnot-grid {
        @media screen and (min-width: 768px) {
            margin-top: 0;
        }
    }

    .whatnot-grid-layout {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 1fr);
        gap: 2px;

        @media screen and (max-width: 768px) {
            background-color: #000;
        }

        .whatnot-grid-video {
            display: inline-block;
            grid-column: 1 / span 2;
            grid-row: 1 / span 3;
            width: 100%;
            margin: 0 auto;

            .whatnot-video {
                position: relative;
                padding-bottom: 201.5%;
                height: 0;
                display: block;

                video {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }

                .whatnot-up-coming-event,
                .whatnot__heading {
                    z-index: 5;
                    position: absolute;
                }

                .whatnot-up-coming-event {
                    top: 10px;
                    left: 10px;
                    display: flex;
                    justify-content: start;
                    align-items: start;
                    gap: 5px;
                    flex-direction: column;

                    h4 {
                        color: white;
                        font-weight: 700;
                        margin: 0;
                    }

                    .whatnot__date-time__wrapper {
                        background-color: #f9f9f9;
                        border-radius: 5px;
                        padding: 5px;

                        span {
                            font-weight: 700;
                        }
                    }
                }

                .whatnot__heading {
                    bottom: 0;
                    left: 10px;
                    color: white;
                    margin: 0;
                    text-transform: uppercase;
                    font-family: "PPNeueMontreal", sans-serif;
                    font-size: 24px;
                    font-weight: 800;
                    line-height: 28.8px;
                    text-align: left;
                    text-underline-position: from-font;
                    text-decoration-skip-ink: none;
                }
            }
        }

        .whatnot-grid-images:first-of-type {
            grid-column: 1 / span 1;
            grid-row: 4 / span 1;
        }

        .whatnot-grid-images:first-of-type {
            grid-column: 2 / span 1;
            grid-row: 4 / span 1;
        }

        @media screen and (min-width: 768px) {
            padding: 15px;
            background-color: #000;
            gap: 15px;
            grid-template-columns: repeat(2, minmax(0, 1fr));
            grid-template-rows: repeat(2, 1fr);

            .whatnot-grid-images {
                aspect-ratio: 1.188;
            }

            .whatnot-grid-video {
                display: inline-block;
                grid-column: 1 / span 1;
                grid-row: 1 / span 2;
            }

            .whatnot-grid-images:first-of-type {
                grid-column: 2 / span 1;
                grid-row: 1 / span 1;
            }

            .whatnot-grid-images:first-of-type {
                grid-column: 2 / span 1;
                grid-row: 2 / span 1;
            }
        }
    }

    @media screen and (min-width: 768px) {
        padding: 0px 8px 120px 8px;

        h2 {
            font-size: 24px;
        }
    }
}
