.wrapper.main-content.page-main--wrapper {
    .main-page-container {
        &.wrapper-padded {
            max-width: unset;
            padding: 0 8px;
        }

        .collection_grid {
            .collection-header__title {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                margin-top: 10px;

                @media screen and (min-width: 768px) {
                    padding: 20px 0;
                    margin: 0;
                }

                .page-title {
                    font-size: 24px;
                    font-weight: 700;
                }
            }
        }

        .collection-main-body {
            margin: 0;

            .collection-main-body-inner {
                margin: 0;
                display: grid;
                grid-template-columns: repeat(2, minmax(0, 1fr));
                gap: 8px;

                @media screen and (min-width: 768px) {
                    grid-template-columns: repeat(2, minmax(0, 1fr));
                    row-gap: 20px;
                }

                @media screen and (min-width: 1280px) {
                    grid-template-columns: repeat(3, minmax(0, 1fr));
                }

                @media screen and (min-width: 1440px) {
                    grid-template-columns: repeat(4, minmax(0, 1fr));
                }

                .grid__item {
                    width: unset !important;
                    padding: 0;
                    margin: 0;

                    product-card {
                        text-align: start;
                        margin: 0;

                        .product-grid--title {
                            font-size: 13px;

                            @media screen and (min-width: 768px) {
                                font-size: 16px;
                            }
                        }

                        .product-card-detail--wrapper {
                            position: relative;

                            .product-card-detail {
                                position: relative;
                                opacity: 1;

                                .product-card--price-vendor-wrapper {
                                    display: flex;
                                    flex-direction: row;
                                    justify-content: start;
                                    align-items: center;
                                    gap: 0;
                                    flex-wrap: wrap;
                                    font-size: 13px;

                                    .sold-out {
                                        font-weight: 700;
                                    }

                                    .dot {
                                        width: 4px;
                                        height: 4px;
                                        border-radius: 50%;
                                        background: #d9d9d9;
                                        margin: 0 6px;
                                    }

                                    .dot-2 {
                                        display: none;
                                    }

                                    .product-request-for-order {
                                        flex-basis: 100%;
                                    }

                                    @media screen and (min-width: 768px) {
                                        gap: 6px;
                                        font-size: 16px;

                                        .dot {
                                            padding: 0;
                                        }

                                        .product-request-for-order {
                                            flex-basis: auto;
                                        }

                                        .dot-2 {
                                            display: block;
                                        }

                                    }
                                }
                            }

                            .product-cart-variants {
                                display: flex;
                                flex-direction: row;
                                gap: 10px;
                                justify-content: start;
                                align-items: center;
                                position: absolute;
                                opacity: 0;
                                top: 0;
                                left: 0;

                                .product-cart-variants__variant {
                                    font-size: 14px;
                                    font-weight: 500;

                                    &:hover {
                                        border-bottom: 1px solid #000000;
                                    }
                                }
                            }
                        }

                        .grid-view-item-image {
                            margin-bottom: 13px;
                        }
                    }

                    &:hover {
                        product-card {
                            .product-card-detail--wrapper:not(.product_no_variant) {
                                .product-card-detail {
                                    opacity: 0;
                                }

                                .product-cart-variants {
                                    opacity: 1;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}