.wrapper-padded {
    padding: 0;
    margin: 0;
    position: relative;
    max-width: 1660px;
}

@media screen and (min-width: 1280px) {
    .wrapper-padded {
        margin: 0 auto;
        padding: 0 15px;
    }
}
